:root {
    --color-bg: #EBECF0;
  }

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

body {
    /* background-color: #ecf0f3; */
    background-color: var(--color-bg);
    max-width: 768px;
    margin: auto;
}

#editor {
    position: relative !important;
    height: 330px !important;
}

.title {
    font-weight: 600;
    text-shadow: 1px 1px 0 #FFF;
}

.heading{                           /* heading div of 8051_Simulator and Memory*/
    margin: 20px auto 20px auto;
    text-align: center;
}

.labels {
    margin: auto;
    width: fit-content;
    /* border: 3px solid #73AD21; */
    /* padding: 10px; */
}

.disc-modal {                       /*desclaimer modal*/
    margin: 20px 10px 20px 10px;
}

#content {
    font-size: 16px;
}

.ui.grid {
    margin: 1px;
    /* table column margin */
}

.column {
    border-radius: 6px;
    box-shadow: inset 6px 5px 8px #bababa, inset -5px -5px 10px #BABECC;
    font-size: 18px
}

/* Extra functionality Button */
.btn-grp{
    margin-top: 35px;
    width:100%;
}

.my-btn{
    width: 49%;
    color:#61677C;
    font-weight: bold;
    box-shadow: -2px -2px 5px #FFF,  2px 2px 5px #BABECC;
    /* transition: all 0.2s ease-in-out; */
    cursor: pointer;
    font-weight: 600;

    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color:#EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

@media only screen and (max-width: 600px) {
    .my-btn:first-child{
        width: 70%;
    }
    .my-btn{
        width: 27%;
    }
  }



/* ================================MODAL CSS Start===============================*/

    /* The Modal (background) */
    .mymodal {
        display: none;      /* Hidden by default */
        position: fixed;        /* Stay in place */
        z-index: 4;         /* Sit on top */
        /* padding-top: 100px; */
        /* Location of the box */

        left: 0;
        top: 0;
        width: 100%;        /* Full width */
        height: 100%;       /* Full height */
        overflow: auto;     /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);     /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);       /* Black w/ opacity */
      }
  
      /* Modal Content */
      .modal-content {
        /* background-color: #fefefe; */
        background: #ecf0f3;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 100%;
        height: 100%;
      }
  
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
      }
  
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      @media only screen and (min-width: 600px) {
        .modal-content {
            margin: 20px auto;
            width: 600px;
            height: 90%;
        }
      }
  
      /* ================================MODAL CSS End===============================*/

      /* number converter css start*/

      .center {
        text-align: center;
      }
  
      #main {
        /* width: 100%; */
        /* height: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:15%;
      }
  
      #parent {
        /*border: 2px solid red;*/
        width: 690px;
      }
  
      #other {
        /*border: 2px solid black;*/
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
        flex-direction: column;
      }
  
      input {
        font-size: 15px;
        padding: 7px 15px;
        /* border: 1px solid grey; */
        /* border-radius: 22px; */
        /* neumorphism */
        /* margin-bottom: 30px; */
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1,
          inset -8px -8px 8px #ffffff;
      }
  
      .center input {
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        color: #555;
        /* padding: 20px 10px 20px 5px; */
      }
  
      input#dec {
        /*width: 100%;*/
        box-sizing: border-box;
      }
  
      button {
        padding: 5px 15px;
        background-color: #6181FF;
        color: white;
        border: 1px solid transparent;
        font-size: 13px;
        font-family: sans-serif;
        border-radius: 18px;
        outline: none;
      }
  
      .btn {
        margin: 13px;
      }
  
      button:hover {
        background-color: #5275FF;
        cursor: pointer;
      }
  
      button:active {
        transform: scale(0.9, 0.9);
      }
  
      input:focus {
        outline: none;
      }
  
      h1 {
        text-align: center;
        font-family: sans-serif;
        color: white;
        text-shadow: 1px 0px 0px black, 0px -1px 0px black, 0px 1px 0px black, -1px 0px 0px black;
      }

      /* number converter css end*/


      /* Text-Editor css start */

      #text-editor {
        display: block;
        width: 90%;
        max-width: 900px;
        margin: 10% auto;
      }

      textarea {
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        min-height: 30vh;
        /* max-height: 100%; */
        padding: 1rem 1.5rem;
        font-size: 18px;
        line-height: 1.3rem;
        font-weight: 300;
        background:#FFFFFF;
        border: none;
        border-radius: 1rem;
        outline: none;
        box-shadow: 
          18px 18px 30px #D1D9E9, 
          -18px -18px 30px #FFFFFF;
        resize: none; /*vertical*/
        transition: ease .2s;
        cursor: pointer;
      }
      
      textarea::placeholder {
        color: #9fa8da;
      }
      
      textarea:focus {
        /* height:80vh; */
        min-height: 50vh;
        box-shadow: 
          inset 18px 18px 30px #D1D9E9, 
          inset -18px -18px 30px #FFFFFF;
      }
      
      /* Chrome/Opera/Safari */
      ::-webkit-input-placeholder { 
        color: black;
      }
      /* Firefox 19+ */
      ::-moz-placeholder { 
        color: black;
      }
      /* IE 10+ */
      :-ms-input-placeholder { 
        color: black;
      }
      /* Firefox 18- */
      :-moz-placeholder { 
        color: black;
      }
      
      textarea:placeholder-shown {
        background: none;
      }
